body {
  margin: 0;
}
/* NAVBAR */
/* Add a black background color to the top navigation */
.topnav {
    background-color: #8a0e50;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 24px;
    font-size: 30px;
    font-family: 'Cantarell', sans-serif;
    text-transform: none;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #00bdd6;
    color: black;
}

.topnav img {
  padding: 5px;
}
/* End of Navbar CSS */

h1  {
  font-family: 'Libre Baskerville', serif;
  font-size: 50px;
  text-align: center;
}

.logo_wisna {
  width: 100%;
  text-align: center;
}
