body {
  margin: 0 auto;
  font-family: 'Cantarell', sans-serif;

}
/* NAVBAR */
/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    height: 110px;
    margin-top: -20px;
}

/* Style the links inside the navigation bar */
.topnav a {
    display: inline-block;
    color: #1a237e;
    text-align: center;
    padding: 24px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Cantarell', sans-serif;
    text-transform: none;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #f67c01;
    color: black;
    display: inline-block;
}
/* Change logo place on the header*/
.topnav img {
  padding: 5px;
}

/* End of Navbar CSS */

/* Website body */
h1  {
  font-size: 50px;
  color: #1a237e;
  text-align: center;
}

.slogan {
  margin-top: -50px;
}
.bouton_entrer {
  text-align: center;
}

.logo_wisna {
  width: 100%;
  text-align: center;
  margin-top: -60px;
}

.triforce {
  text-align: center;
  width: 100%;
}
/* Project part */
table {
  width: 99%;
  border: 3px;
  }

th {
  border-style: solid;
  text-align: justify;
  font-family: 'Cantarell', sans-serif;
}


td {
  border-style: solid;
  text-align: center;
}
/* formulaire de contact */
label {
  width: 150px;
  display: block;
  float: left;
}

/* end of project part */
