body {
  margin: 0;
}

header {
  background-color: #8a0e50;
  height: 100px;
  border: solid;
   }

nav {
    width: 100%;  /* i'm assuming full width */
    height: 60px; /* change it to desired width */
    position: fixed;
    display: inline-block;
    overflow: hidden;
    }

.liens {
    width: 95%;
    color: white;
    text-align:right;
    display: inline-block;
    vertical-align: top;
    font-family: 'Cantarell', sans-serif;
    font-size: 30px;
    margin-right: 10px;
    height: 60px;        /* if you want it to take the full height of the bar */
    line-height: 90px;    /* if you want it vertically middle of the navbar */
        }

.logo {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 0px;    /* if you want it vertically middle of the navbar. */
    }

  .logo_wisna {
      vertical-align: bottom;
      position: fixed;
      width: 19%;
    }

h1 {
  vertical-align: top;
  font-family: 'Cantarell', sans-serif;
  font-size: 30px;
  margin-left: 5px;
}

footer{
background: #008fa2;
position:absolute;
bottom:0;
width:100%;
padding-top:50px;
height:30px;
}
