.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 70px; /* change it to desired width */
    position: fixed;
    display: inline-block;
    background-color: #8a0e50;
    overflow: hidden;
    }
.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 10px;    /* if you want it vertically middle of the navbar. */
}

.logo_wisna {
  vertical-align: bottom;
  position: fixed;
  width: 350px;
}

.navigation-bar > a {
    color: white;
    display: inline-block;
    vertical-align: top;
    font-family: 'Cantarell', sans-serif;
    font-size: 30px;
    margin-right: 25px;
    height: 70px;        /* if you want it to take the full height of the bar */
    line-height: 70px;    /* if you want it vertically middle of the navbar */
}

h1 {
  vertical-align: top;
  font-family: 'Cantarell', sans-serif;
  font-size: 50px;
  margin-left: 10px;
}

footer{
background: #008fa2;
position:absolute;
bottom:0;
width:100%;
padding-top:50px;
height:50px;
}
